/* Responsive styles
================================================== */

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
	.dropdown i{
		display: none;
	}
}


/* Medium Devices, Desktops */
@media (min-width : 992px) {
	.navbar-brand i{
		margin-right: 0px;
		font-size: 16px;
		line-height: 16px;
	}



}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {

	p{
		font-size: 14px;
	}
.navbar-default .navbar-nav > li > a {
	padding: 23px 10px;
	letter-spacing: 0px;
}
.navbar-brand i{
	margin-right: 0px;
	font-size: 16px;
	line-height: 16px;
}



}

/* Small Devices Potrait */
@media (max-width : 767px){

	
}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) and (max-width:767px){

	p{
		font-size: 14px;
	}
	
	.section-padding{
		padding: 50px 0px;
	}
	
/* background=================================*/

	.banner-main h2 {
		font-size: 24px;
		line-height: 34px;
	}
	.banner-main p{
		font-size: 12px;
		width: 100%;
	}
.navbar-custom{
	margin-top: 0px;
	background: #333;
	border-right: 0px;
}


/*about =============================*/
	.about-info,.service-box{
		margin-bottom: 30px;
	}


/*testimonial =================================*/


.test-inner {
    width: 100%;
}

/* BloG ==========================================*/
	#section-blog{
		padding-bottom: 20px;
	}
	.blog-box{
		margin-bottom: 40px;
	}
	
	
/* contact ==========================================*/

.contact-info-wrap{
	margin-bottom: 60px;
}


}

/* Custom, iPhone Retina */ 
@media (min-width : 320px) and (max-width: 478px)  {

	p{
		font-size: 14px;
	}
	
	.section-padding{
		padding: 50px 0px;
	}
	
/* background=================================*/

	.banner-main h2 {
		font-size: 24px;
		line-height: 34px;
	}

.navbar-custom{
	margin-top: 0px;
	background: #333;
	border-right: 0px;
}


/*about =============================*/
	.about-info,.service-box{
		margin-bottom: 30px;
	}


/*testimonial =================================*/


.test-inner {
    width: 100%;
}

/* BloG ==========================================*/
	#section-blog{
		padding-bottom: 20px;
	}
	.blog-box{
		margin-bottom: 40px;
	}
	
	
/* contact ==========================================*/

.contact-info-wrap{
	margin-bottom: 60px;
}


}