/* Table of Content
==================================================
1.  Global Styles
2.  Typography
3.  Common styles
4.  Navigation
5.  HEADER AREA
6.  SECTION ABOUT
7.  SECTION SERVICES
8.  SECTION FEATURES
9. SECTION TESTIMONIAL
10. SECTION CONTACT
11. SECTION FOOTER


/*========================================
	Google font
==================================================*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Raleway:400,600,700,300');

@font-face{font-family:'FontAwesome';
	src:url('fonts/fontawesome-webfont93e3.eot?v=4.4.0');src:url('fonts/fontawesome-webfontd41d.eot?#iefix&v=4.4.0') format('embedded-opentype'),url('fonts/fontawesome-webfont93e3.html?v=4.4.0') format('woff2'),url('fonts/fontawesome-webfont93e3.woff?v=4.4.0') format('woff'),url('fonts/fontawesome-webfont93e3.ttf?v=4.4.0') format('truetype'),url('fonts/fontawesome-webfont93e3.svg?v=4.4.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}


.btn:active,
.btn.active,
.progress,
.panel {
	-webkit-box-shadow: none;
	box-shadow: none;
}



/**
 * # default
 * ---------------------------------------------------------
 */

html {
	font-size: 1em;
}

body {
	width: 100%;
	height: 100%;
	line-height: 24px;
	color: #6a6a6a;
	font-size: 15px;
	font-weight: normal;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

html {
	width: 100%;
	height: 100%;
}

p{
	margin-top: 0;
	padding-left: 0px;
}

ol,
ul,
dl,
pre,
blockquote {
	margin-top: 0;
	margin-bottom: 24px;
	padding-left: 0px;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

li {
	list-style-type: none;
	padding-left: 0px;
}

h1,
h2,
h4,
h5,
h6 {
	color: #333;
	font-weight: 700;
	letter-spacing: -0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 24px;
}

h1 {
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: -0.02em;
	font-size: 25px;
	line-height: 35px;
}

h2 {
	font-weight: 700;;
	letter-spacing: -0.02em;
	font-size: 28px;
	line-height: 38px;
}

h3 {
	font-weight: 700;
	letter-spacing: -0.02em;
	font-size: 24px;
	line-height: 34px;
}

h4 {
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: -0.02em;
	font-size: 19px;
	line-height: 29px;
}

h5 {
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: -0.02em;
	font-size: 15px;
	line-height: 25px;
}

h6 {
	color: inherit;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: -0.02em;
	font-size: 13px;
	line-height: 2;
	line-height: 26px;
}

embed,
iframe,
object,
video {
	max-width: 100%;
}

img {
	height: auto;
	width: 100%;
}


/* ======================================
 * 07. Preloader
/* ====================================== */

#loader {
	background: #fff;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

#loader .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background-image: url(../img/preloader.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

/**
 * # component
 * ---------------------------------------------------------
 */

.btn {
	font-size: 14px;
	font-weight: 600;
	-webkit-border-radius: 10rem;
	border-radius: 10rem;
	padding-left: 30px;
	padding-right: 30px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	width: 160px;
	padding: 12px 0px;
	text-transform: capitalize;
	border: 2px solid transparent;
}

.btn-grey {
	color: #212121;
	background-color: transparent;
	border: 2px solid #212121;
}

.btn-grey:hover {
	color: white;
	background-color: #3EB6FF;
	border-color: #3EB6FF;
}

.btn-theme-1 {
	color: #fff;
	background-color: #3EB6FF;
	border-color: #3EB6FF;
}


.btn-theme-1:hover {
    color: #354554;
    background-color: transparent;
    border-color: #354554;
}

.form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 600;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.form-control:focus {
	border-color: #3EB6FF;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control::-webkit-input-placeholder {
	color: #9e9e9e;
}

.form-control::-moz-placeholder {
	color: #9e9e9e;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #9e9e9e;
}

.form-control {
	border-color: rgba(0, 0, 0, 0.04);
	background-color: rgba(0, 0, 0, 0.04);
}

.input-group-shadow {
	-webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.12);
}



/*=================================
	NAVIGATION
=========================================*/
.navbar-nav > li > a,
.navbar-text {
	font-weight: 600;
}

.navbar-brand {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.navbar-brand {
	height: 64px;
	line-height: 0.9;
	padding-bottom: 23px;
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	margin-top: 15px;
}

.navbar-brand img {
	margin-top: 0px;
}

.navbar-nav > li > a {
	line-height: 1.86667;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #8E8B8B;
transition: all 0.2s ease-in;
}
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #3EB6FF;
    background-color: transparent;
}


@media (min-width: 992px) {
	.navbar-nav > li > a {
		padding-top: 18px;
		padding-bottom: 18px;
	}
	.navbar-lg .navbar-nav > li > a {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
}



/**
 * commona
 * ---------------------------------------------------------
 */
	.site-header-fixed-top,
	.site-header-fixed-bottom {
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1030;
	}
	.site-header-fixed-top {
		top: 0;
	}
	.site-header-fixed-bottom {
		bottom: 0;
	}
	.bg-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.bg-overlay.black {
		position: absolute;
		background: rgba(0, 0, 0, 0.95);
	}
	.bg-overlay.grey {
		position: absolute;
		background: rgba(255, 255, 255, 0.75);
	}
	.section-padding {
		padding: 90px 0px;
	}
	



/*===========================================
Banner Content
===========================================*/

#pagebg{
    background: url("../img/bg/page_bg.jpg") fixed 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	
}

#contacto_bg{
    background: url("../img/bg/contacto.jpg") fixed 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	
}

#clientes_bg{
    background: url("../img/bg/clientes_bg.jpg") fixed 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	
}

#tec_bg{
    background: url("../img/bg/tec_bg.jpg") fixed 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	
}

.page-content{
	padding:220px 0px 120px;
}

#main-banner{
    background: url("../img/bg/banner_bg.png") fixed 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	
}
.banner-content{
	padding:250px 0px 170px;
}

.overlay::before {
    background-color: rgba(25, 25, 25, 0.8);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.overlay1::before {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.banner-main h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 54px;
    margin-bottom: 25px;
	color: #fff;
}

.banner-main p {
    font-weight: 400;
    line-height: 26px;
	color: #f9f9f9;
}


.btn-theme-1:hover {
	background: #fff;
	border-color: #fff;
}

/*
==========================================
center
==========================================
*/
.center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*=============================================
	ABOUT SECTION
==============================================*/
#section-about{
	padding-bottom: 80px;
}
	.about-info {
		text-align: center;
	}
	.about-info i {
		width: 80px;
		height: 80px;
		border: 2px solid#ddd;
		padding-top: 22px;
		font-size: 30px;
		border-radius: 100%;
		margin-bottom: 10px;
		-webkit-transition: all .3s ease 0s;
		-o-transition: all .3s ease 0s;
		transition: all .3s ease 0s;
	}
	.about-info:hover i {
		border-color: #3EB6FF;
		background: #3EB6FF;
		color: #fff;
	}

/*=============================================
	FEATURE SECTION
==============================================*/
	#section-feature {
		background: #f9f9f9;
	}
	.feature-wrap {
		margin-top: 40px;
	}

.feature-wrap p{
	margin-bottom: 30px;
}


/*feature-page==================*/

.feature-inner{
	text-align: center;
}

.feature-inner img{
	width: 120px;
	margin: 0 auto;
}


/*=============================================
	SECTION SERVICE
==============================================*/
	#section-service{
		padding: 80px 0px 100px;
		background: #f9f9f9;
	}
	.section-heading {
		margin-bottom: 60px;
		margin-top: 0px;
	}

	.section-heading h2 span,.section-heading2 h2 span {
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 1px;
		color: #999;
	}

	.section-heading2{
		margin-top: 0px;
		width: 70%;
		margin: 0 auto;
		margin-bottom: 60px;
		text-align: center;
	}
.service-box2.active{
	background: #fff;
}

.service-box2{
	padding:40px;
}
	.service-box h4,.service-box2 h4  {
		padding-top: 20px;
	}
	.service-box i , .service-box2 i{
		font-size: 40px;
		width: 100px;
		height: 100px;
		text-align: center;
		background: #eee;
		border-radius: 100%;
		padding-top: 26px;
		-webkit-box-shadow: 1px 2px 2px 0px #999;
		box-shadow: 1px 2px 2px 0px #999;
	}
.service-box i.color-1, 
.service-box2 i.color-1 {
    background: #1ac0e2;
    color: #fff;
}
.service-box i.color-2, 
.service-box2 i.color-2 {
    background: #547193;
    color: #fff;
}
	.service-box i.color-3 ,
	.service-box2 i.color-3 {
		background: #FF5647;
		color: #fff;
	}
	.service-icon {
		margin-bottom: 10px;
	}


/*service page===============*/


#services{
	padding-bottom: 60px;
}
.service-inner{
	padding: 20px 30px;
}
.service-inner h4{
	position: relative;
	padding-bottom: 10px;
}
.service-inner h4:after{
	position: absolute;
	left: 0px;
	bottom: 0px;
	content:"";
	width: 40px;
	height: 3px;
	background: #354554;
	border-radius: 5px;
}
.service-inner h4 span{
	font-size: 30px;
	color: rgba(97, 123, 147, 0.49);
	margin-right: 10px;
}


/*==================================================
	CLIENT TESTIMONIAL
=====================================================*/

.testimonial-page{
	background: url("../img/bg/banner1.jpg") fixed 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}
	.test-inner {
		text-align: center;
		width: 70%;
		margin: 0 auto;
	}
	.test-inner h5 {
		margin-bottom: 0px;
		font-size: 18px;
	}

.test-inner i{
	font-size:50px;
	line-height: 50px;
	color: #ddd;
	margin-right: 10px;
}
	#test-carousel {
		border-radius: 5px;
	}

	.test-inner h5 span {
		font-size: 13px;
		color: #888;
	}
	.carousel-control.left {
		left: 15px;
	}
	.carousel-control.right {
		right: 15px;
	}
	.carousel-control.left,
	.carousel-control.right {
		background: none;
		background: none;
		width: 50px;
		height: 50px;
		border: 2px solid#ddd;
		padding-top: 10px;
		text-shadow: none;
		color: #111;
		opacity: 0;
		-webkit-transition: all .3s ease 0s;
		-o-transition: all .3s ease 0s;
		transition: all .3s ease 0s;
	}
	.carousel-control {
		top: 38%;
	}
	#test-carousel:hover .carousel-control.left,
	#test-carousel:hover .carousel-control.right {
		opacity: 1;
	}



/*testimonial page==========*/

.testimonial-page .test-inner{}
.testimonial-page .test-inner,.testimonial-page .test-inner h5,
.testimonial-page .test-inner i,
.testimonial-page .carousel-control.left,
.testimonial-page .carousel-control.right {
	color: #eee;
}

.testimonial-page .test-inner h3{
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*===============================================================================
	SECTION PRICING
=================================================================================*/
	.pricing-box {
		text-align: center;
		border: 1px solid#eee;
		padding: 30px 0px 0px;
	}
	.pricing-title hr {
		width: 10%;
		margin: 0 auto 20px;
		border-color: #5776F5;
		border-width: 2px;
	}
	.pricing-info ul li {
		padding: 10px 0px;
		text-transform: capitalize;
	}
	.pricing-info ul li span {
		font-weight: 700;
	}
	.price {
		background: #f9f9f9;
		padding: 30px 0px;
	}
	.price h3 {
		font-size: 38px;
		line-height: 38px;
	}
	.price h3 span {
		display: block;
		font-size: 14px;
		color: #888;
		letter-spacing: 0px;
	}
	/*	========================================================
	BLOG NEWS
==============================================================*/
	#section-blog {
		position: relative;
		background: #eee;
		padding-top: 80px;
	}
	.blog-date {
		display: block;
		margin-top: 20px;
	}
	.blog-date h5 {
		color: #999;
		margin-bottom: 0px;
		font-weight: 400;
	}
	.blog-date h5 span {
		color: #444;
		padding: 0px 5px;
		font-weight: 700;
	}
	.blog-info {
		clear: both;
		float: none;
	}
	.text-default {
		text-transform: uppercase;
		font-weight: 700;
	}

	/*=====================================================
    SECTION CONTACT
==========================================================*/
	.section-sub-heading {
		padding-top: 80px;
	}
	#section-contact {
		padding-bottom: 90px;
	}
	.form-control {
		border-radius: 0px;
		box-shadow: none!important;
		height: 45px;
		border: 0px;
		background: transparent;
		border-bottom: 1px solid#ddd;
		font-size: 14px;
		font-weight: 400;
	}
	#contactForm .form-group {
		margin-bottom: 30px;
	}

	/*=====================================================
    SECTION FOOTER
==========================================================*/
/*	#section-footer {
		padding: 50px 0px 30px;
		background: #f9f9f9;
	}*/
	.footer-socail i {
		width: 30px;
		height: 30px;
		text-align: center;
		border-radius: 50%;
		color: #fff;
		padding-top: 8px;
	}
	.footer-socail .fa-facebook {
		background: #2A398F;
	}
	.footer-socail .fa-google-plus {
		background: #ED1C24;
	}
	.footer-socail .fa-linkedin {
		background: #1C75BB;
	}
	.footer-socail .fa-twitter {
		background: #26A9E0;
	}
	.footer-location li i,
	.footer-feed li i {
		float: left;
		margin-right: 20px;
		width: 20px;
		height: 40px;
		margin-top: 5px;
	}
	.footer-location li	p{
		margin-bottom: 25px;
	}
	.footer-location li i {
		color: #3EB6FF;
	}
	.footer-feed li p {
		font-size: 14px;
	}
	.footer-feed li i,
	.footer-feed li p span {
		color: #55ACEE;
	}
	.widget-feed li {
		width: 30%;
	}
	#section-footer-btm {
		background: #202020;
		padding: 30px 0px;
	}
	.footer-btm p {
		text-transform: capitalize;
		margin-bottom: 0px;
		color: #fff;
		padding-top: 47px;
	}
	.footer-btm p span {
		color:  #3EB6FF;
		
	}


	/*HOVER EFFECTS*/


	.hovereffect {
	  width: 100%;
	  height: 100%;
	  float: left;
	  overflow: hidden;
	  position: relative;
	  text-align: center;
	  cursor: default;
	}

	.hovereffect .overlay {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  overflow: hidden;
	  top: 0;
	  left: 0;
	}

	.hovereffect img {
	  display: block;
	  position: relative;
	  -webkit-transition: all 0.4s ease-in;
	  transition: all 0.4s ease-in;
	}

	.hovereffect:hover img {
	  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
	  filter: grayscale(1) blur(3px);
	  -webkit-filter: grayscale(1) blur(3px);
	  -webkit-transform: scale(1.2);
	  -ms-transform: scale(1.2);
	  transform: scale(1.2);
	}

	.hovereffect h2 {
	  text-transform: uppercase;
	  text-align: center;
	  position: relative;
	  font-size: 17px;
	  padding: 10px;
	  background: rgba(0, 0, 0, 0.6);
	}

	.hovereffect a.info {
	  display: inline-block;
	  text-decoration: none;
	  padding: 7px 14px;
	  border: 1px solid #fff;
	  margin: 50px 0 0 0;
	  background-color: transparent;
	}

	.hovereffect a.info:hover {
	  box-shadow: 0 0 5px #fff;
	}

	.hovereffect a.info, .hovereffect h2 {
	  -webkit-transform: scale(0.7);
	  -ms-transform: scale(0.7);
	  transform: scale(0.7);
	  -webkit-transition: all 0.4s ease-in;
	  transition: all 0.4s ease-in;
	  opacity: 0;
	  filter: alpha(opacity=0);
	  color: #fff;
	  text-transform: uppercase;
	}

	.hovereffect:hover a.info, .hovereffect:hover h2 {
	  opacity: 1;
	  filter: alpha(opacity=100);
	  -webkit-transform: scale(1);
	  -ms-transform: scale(1);
	  transform: scale(1);
	}





