
#style-switcher h2 a { background: #26A9E0 none repeat scroll 0 0 }
a:foucs,a:hover,a.text-default{
	color: #26A9E0!important;
}
.btn-theme-1:hover {
    color: #617b93;
    border-color: #617b93;
}
.btn-grey:hover {
	background-color: #26A9E0;
	border-color: #26A9E0;
}

.btn-theme-1 {
	background-color: #26A9E0;
	border-color: #26A9E0;
}
.about-info:hover i {
	border-color: #26A9E0;
	background: #26A9E0;
}

.form-control:focus {
	border-color: #26A9E0;
}

.navbar-nav > li > a,.navbar-default .navbar-brand span {
	color: #26A9E0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#26A9E0;
}

.about-info:hover i {
	border-color: #26A9E0;
	background: #26A9E0;
}

.service-box i.color-1 {
	background: #26A9E0;
}

.pricing-title hr {
    border-color: #26A9E0;
}
	
.footer-location li i {
    color: #26A9E0;
}
.footer-btm p span {
	color:  #26A9E0;
}
.text-default {
    color: #26A9E0;
}
